@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

@keyframes update {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

.tarjeta {
    background-color: hsl(217, 19%, 38%);
    background-color: hsl(217, 19%, 24%);
    color: hsl(193, 38%, 86%);
    max-width: 320px;
    padding: 30px;
    border-radius: 15px;
    animation-duration: 3.5s;
    animation-timing-function: ease-out;
    margin: 0 20px;
}
.tarjeta-texto {
    text-align: center;
}
.tarjeta-texto_id{
    color: hsl(150, 100%, 66%);
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.tarjeta-texto_advice{
    font-size: 28px;
}
.separador {
    position: relative;
    display: flex;
    justify-content: center;
}
.linea {
    margin-bottom: 30px;
}
.linea-desktop {
    display: none;
}
.icon-dice{
    background-color: hsl(150, 100%, 66%);
    display: inline-flex;
    align-items: center;
    padding: 18px;
    position: absolute;
    bottom: -58px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: box-shadow ease 500ms

}

.icon-dice:hover {
    text-shadow: 1px 2px #fff;
    box-shadow: 0 0 15px hsl(150, 100%, 54%);
    transition: box-shadow ease 500ms;
}
@media screen and (max-width: 350px) {
    .tarjeta-texto_advice {
        font-size: 1.3em;
    }
    .linea-mobile {
        display: none;
    }
    .linea::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: hsl(217, 19%, 38%);
        position: absolute;
        left: 0;
        top: 0;
    }
}
@media screen and (min-width: 700px) {

    .linea-mobile {
        display: none;
    }
    .linea-desktop {
        display: block;
    }
    .tarjeta {
        min-width: 475px;
        padding: 30px 30px; 
    }
}